body[background="paper-1074131_1280.jpg"] {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.had p{
    font-size: 70px;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    cursor: pointer;
}
h2{
    
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
p{
    
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    
}
.had2 p{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.had3 p{
    
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.had4 p{
    
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
 aside{
    float: left;
 }
 .baano{
    background-image: url(ink-5067880_1280.jpg);
    background-size: cover;
    background-position: center;
     text-align: right;
     border: solid;
 }
 .baano[img]{
    border: solid;
 }
 .baano2,.baano2[img]{
    background-color: brown;
    color: bisque;
    font-size: ;
 }